
.nav-link {
    font-size: 140%;
    color: #333;
}

.navbar-item.active {
    text-decoration: underline;
}

.navbar {
    /*  border-bottom: 1px solid #333; */
}

#mainHero {
    background-image: url("img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;

    color: #ddd;
}

#mainHeroText {
    background: #0004;
    padding-top: 2%;
    padding-bottom: 2%;
}

.vertical-center {
    min-height: 70%;
    min-height: 70vh;

    display: flex;
    align-items: center; 
}

#bcHero {
    background-image: url("img/nasa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;

    color: #ddd;
}

